<!DOCTYPE html>
<html>

<head>
  <title>Welcome to your very own p4!</title>
  <style>
    body {
      width: 35em;
      margin: 0 auto;
      font-family: Tahoma, Verdana, Arial, sans-serif;
    }
  </style>
</head>

<body>
  <h1>Welcome to your very own Planet4 in a box!</h1>
  <p>If you see this page, the nginx web server is successfully installed and working. Further configuration is required.</p>

  <p>The following services have been set up for you:</p>

    <h2>Planet 4</h1>
    <a href="https://{{ p4_domain }}:4430">https://{{ p4_domain }}</a>.

  <p><em>Thank you for using p4.</em></p>
</body>

</html>
